#banner_home{
    background: url("../img/provaback.jpg");
}

#banner_mid{
    background: url("../img/prova2.png");
    height:;
}

table {
    width: 100%;
}

td {
    word-break: break-word;
}

.smaller_col {
    width: 30%;
}

.larger_col {
    width: 40%;
}

.rep_img {
    float: left;
    max-height: 25em;
    width: auto;
    position:inline;
}

.tab_title {
    float: right;
    font-size: 3rem;
    line-height: 1.2em;
    text-align: right;
}
